<div class="panel-heading">
    <div class="input-group" style="width: 200px;float:left; margin-top: -4px;">
        <input type="text" ng-model="condition" ng-keyup="search(condition)" class="form-control" placeholder="关键字">
                        <span class="input-group-btn">
                         <button class="btn btn-default" type="button" ng-click="search(condition)">查找</button>
                        </span>
    </div>
    <div class="to-right" ng-if="hasPower('System_BugTpl_Add')"><a class="cursor_pointer txt-green" ng-click="addTpl('添加模板')">+添加模板</a>
    </div>
</div>
<div class="blank-line"></div>
<table class="table table-hover line">
    <thead>
    <tr>
        <th><input type="checkbox" ng-model="checkModel.checkall" my-check="checkModel.checkAll(tplsToDisplay)"></th>
        <th>模板名称</th>
        <th>开发语言</th>
        <th>描述信息</th>
        <th class="th-left-line"><a class="txt-yellow" ng-click="removes()" ng-if="hasPower('System_BugTpl_Delete')"
                                    ng-class="{disabled:!hasCheck(tplsToDisplay)}">删除选中项</a></th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="tpl in tplsToDisplay | orderBy:'name'">
        <td><input type="checkbox" ng-model="tpl.checked" my-check="checkModel.check(tpl,tplsToDisplay)"/></td>
        <td>{{tpl.templateName}}</td>
        <td title="">{{tpl.templateLang|langFilter}}</td>
        <td>
            <a popover-placement="bottom"
               popover-trigger="mouseenter"
               popover="{{tpl.templateDesc}}">{{tpl.templateDesc|cutFilter}}</a>
        </td>
        <td>
            <a ng-click="updateTpl('修改模板',tpl)" ng-if="hasPower('System_BugTpl_Modify')">修改</a>
        </td>
    </tr>
    </tbody>
</table>
<div class="text-center">
    <div local-pagination
         raw-data="tpls"
         display-data="tplsToDisplay"
         limit="15"
         change="checkModel.unCheckAll(tplsToDisplay)">
    </div>
</div>
