<div class="panel-heading">
    <div class="input-group" style="width: 200px;float:left; margin-top: -4px;">
        <input type="text" ng-model="condition" ng-keyup="search(condition)" class="form-control" placeholder="关键字">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="search(condition)">查找</button>
                    </span>
    </div>
</div>
<div class="blank-line"></div>
<table class="table table-hover line">
    <thead>
    <tr>
        <th>操作类型</th>
        <th>操作内容</th>
        <th>操作人员</th>
        <th>操作时间</th>
        <th>IP</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="log in logsToDisplay">
        <td>{{log.logSummary}}</td>
        <td>
            <a data-ng-click="showInfo(log)">{{log.logDesc|cutFilter}}</a>
            <!--<a popover-onlyone
               popover-placement="bottom"
               popover-trigger="click"
               popover-template="'tipTemplate.html'">{{log.logDesc|cutFilter}}</a>-->

        </td>
        <td>{{log.userName}}</td>
        <td>{{log.logTime}}</td>
        <td>{{log.userIp}}</td>
    </tr>
    </tbody>
</table>
<div class="text-center">
    <div local-pagination
         raw-data="logs"
         display-data="logsToDisplay"
         limit="15">
    </div>
</div>

<script id="tipTemplate.html" type="text/ng-template">
    <div ng-bind-html="log.logDesc" style="max-height: 400px; max-width: 400px;overflow: auto;margin-right: -10px;">
    </div>
</script>